
.our-app-container {
  margin-top: 60px;

  .our-app {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-color-light);
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 56px;
    text-align: left;
    overflow: hidden;
  }

  .our-app__inner {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }

  .our-app__text-content,
  .our-app__mockup {
    position: relative;
    z-index: 2;
  }

  .our-app__text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 500px;
  }

  .our-app__h2 {
    margin: 0;
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 600;
    font-family: "Istok Web", sans-serif;
    margin-top: 16px;
  }

  .our-app__title {
    margin: 0;
    color: var(--text-color-dark);
    font-size: 36px;
    font-weight: 700;
    font-family: "Istok Web", sans-serif;
  }

  .our-app__subtitle {
    margin: 0;
    font-size: 18px;
    color: var(--text-color-dark);
  }

  .our-app__features {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .our-app__feature {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    text-align: left;
  }

  .our-app__feature-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }

  .our-app__feature-title {
    margin: 0 0 8px;
    color: var(--text-color-dark);
    font-size: 22px;
    font-weight: 700;
    font-family: "Istok Web", sans-serif;
  }

  .our-app__feature-text {
    margin: 0;
    color: var(--text-color-light);
    font-size: 16px;
    line-height: 1.4;
  }

  .our-app__note {
    margin: 0;
    color: var(--text-color-light);
    font-size: 16px;
    line-height: 1.5;
  }

  .our-app__stores  {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .our-app__stores-link :hover {
  box-shadow: 0 0 12px var(--accent-color);
}

  .our-app__stores-link img  {
    color: var(--accent-color);
    transform: translateX(5px);
    height: 40px;
    width: auto;
    border-radius: 4px;
    flex-direction: column;
  }

  .our-app__mockup {
    position: relative;
    width: 100px;
    aspect-ratio: 130 / 281;
    align-self: center;
    z-index: 1;
  }

  .our-app__phone-background,
  .our-app__phone-img,
  .our-app__phone-frame {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

    .our-app__phone-background {
    z-index: 1;
    transform: scale(2.5) 
  }  .our-app__phone-img {
    z-index: 2;
    transform: scale(0.9);
  }

  .our-app__phone-frame {
    z-index: 3;
    pointer-events: none;
  }

  .phone-menu {
    display: none;
  }

  @media (min-width: 1920px) and (max-width: 1920px) {
    .phone-menu {
      display: block;
      position: absolute;
      top: 47px;
      right: 33px;
      z-index: 100;
    }

    .phone-menu__button {
      width: 32px;
      height: 28px;
      position: relative;
      background: var(--text-color-on-dark-bg);
      border: none;
      border-radius: 6px;
      cursor: pointer;
      z-index: 102;
      padding: 15px;
      left: 147px;
      top: 25px;
    }


    .phone-menu__button span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: var(--accent-color);
      transition: .25s ease-in-out;
      left: 0;
    }

    .phone-menu__button span:nth-child(1) {
      top: 6px;
    }

    .phone-menu__button span:nth-child(2) {
      top: 16px;
    }

    .phone-menu__button span:nth-child(3) {
      top: 26px;
    }

    .phone-menu__button.active span:nth-child(1) {
      top: 16px;
      transform: rotate(45deg);
    }

    .phone-menu__button.active span:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    .phone-menu__button.active span:nth-child(3) {
      top: 16px;
      transform: rotate(-45deg);
    }


.our-app {
  position: relative;
}

.phone-menu {
  position: absolute;
  z-index: 101; 
  top: 127px;
  right: 637px;
}

.phone-menu__nav {
  position: sticky;
  top: 250px; 
  height: 400px;
  width: 190px;
  background: var(--text-color-on-dark-bg);
  padding: 80px 25px 25px;
  border-radius: 12px;

  opacity: 0;
  visibility: hidden;

  transition: opacity .3s ease, visibility .3s ease;
}

.phone-menu__nav.active {
  opacity: 1;
  visibility: visible;
}


    .phone-menu__nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .phone-menu__nav li {
      margin-bottom: 20px;
    }

    .phone-menu__nav a {
      color: var(--text-color-dark);
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      transition: .3s;
      display: block;
      padding: 8px 0;
    }

    .phone-menu__nav a:hover {
      color: var(--accent-color);
      transform: translateX(5px);
    }
  }

  @media (min-width: 1025px) {
    .our-app {
      padding-top: 80px;
      padding-left: 10px;
      padding-right: 70px;
      padding-bottom: 100px;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-items: center;
      justify-content: center;
      gap: 0px;
      text-align: left;
    }

    .our-app__text-content {
      align-items: flex-start;
      transform: translateX(-100px);
    }

    .our-app__title {
      font-size: 48px;
    }

    .our-app__feature-icon {
      width: 70px;
      height: 70px;
      flex-shrink: 0;
    }

    .our-app__stores {
      justify-content: flex-start;
      flex-direction: row;
    }

    .our-app__mockup {
      align-self: initial;
      width: 230px;
    }
  }
}




