.how-it-works {
  .how-it-works__header {
    margin: auto;
    padding-bottom: 40px;
  }

  .how-it-works__title {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }

  .how-it-works__title,
  .how-it-works__subtitle,
  .how-it-works__description {
    display: flex;
    justify-content: center;
    font-family: "Source Sans 3", sans-serif;
  }

  .how-it-works__subtitle {
    color: var(--text-color-dark);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
  }

  .how-it-works__description {
    max-width: 800px;
    flex-wrap: wrap;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    color: var(--text-color-medium);
  }

  .how-it-works__steps {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    gap: 20px;
    justify-content: center;

    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 993px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 640px) and (max-width: 992px) {
    .how-it-works__step:nth-child(3) {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }
}

    .how-it-works__step {
      display: flex;
      justify-content: center;
      animation: fadeInUp 0.6s ease forwards;
      opacity: 0;

      .how-it-works__content {
        text-align: center;
        max-width: 325px;

        .how-it-works__step-title {
          font-size: 22px;
          font-family: "Istok Web", sans-serif;
          font-weight: 800;
          color: var(--text-color-dark);
          margin: 0 auto;
          display: block;
          text-align: center;
        }

        .how-it-works__step-number {
          color: var(--cta-color);
          margin-right: 4px;
        }

        .how-it-works__icon {
          width: 70px;
          margin: 20px auto;
        }

        .how-it-works__step-description {
          color: var(--text-color-light);
          margin: 15px auto 0;
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
}
